* {
  box-sizing: border-box;
}

main {
  height: calc(100vh - 104.344px);
  overflow-y: scroll;
}

.card-image {
  height: 180px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;


}

.content-slider {
  overflow-x: scroll;
  flex-wrap: nowrap;
}

.content-slider-vert {
  overflow-y: scroll;
  max-height: calc(100vh - 110px);
}