@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700;800&display=swap');
@import './components/register.scss';
@import './components/navbar.scss';


* {
  box-sizing: border-box;
  font-family: 'Syne', sans-serif;
}

main {
  height: calc(100vh - 104.344px);
  overflow-y: scroll;
  background-image: url('../images/textured-background.jpg');
  background-size: cover;
  background-position: center;
}

.card-image {
  height: 180px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;


}

.content-slider {
  overflow-x: scroll;
  flex-wrap: nowrap;
}

.content-slider-vert {
  overflow-y: scroll;
  max-height: calc(100vh - 110px);
}