@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700;800&display=swap');
@import './components/register.scss';
@import './components/navbar.scss';
@import './components/profile.scss';
@import './components/search.scss';
@import './components/record.scss';
@import './components/review.scss';

* {
  box-sizing: border-box;
  font-family: 'Syne', sans-serif;
}

main {
  height: calc(100vh - 104.344px);
  overflow-y: scroll;
  background-image: url('../images/textured-background.jpg');
  background-size: cover;
  background-position: center;
}

.primary-container {
  height: 100%;

  .top-row {
    height: 100%;
  }
}

.card-image {
  height: 180px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;


}

.content-slider {
  overflow-x: scroll;
  flex-wrap: nowrap;

  .col {

    img {
      border: solid 2px white;
      box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5), 0 6px 6px 0 rgba(0, 0, 0, 0.5);
      margin-bottom: 5px;
    }

    h4 {
      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}

.content-slider::-webkit-scrollbar {
  display: none;
}

.content-slider-vert {
  overflow-y: scroll;
  max-height: calc(100vh - 110px);
}

.content-slider-vert::-webkit-scrollbar {
  display: none;
}

.buffer {
  height: 15px;
}